/
  Slider
  \=======================================
.mstslider
  / masterslider
  #masterslider.master-slider.ms-skin-default
    / slide
    .ms-slide.slide-1{"data-delay" => "7"}
      / slide background
      = image_tag "sliders/bg1.jpg"
      .ms-layer.text1{"data-delay" => "300", "data-duration" => "900", "data-ease" => "easeOutExpo", "data-effect" => "bottom(50)", :style => "left:116px; top:123px"}
        NEED LEGAL
        %br/
        ASSISTANCE?
      .ms-layer.text2{"data-delay" => "500", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "left(100)", :style => "left:116px; top:305px"}
        Get immediate free information and advice confidential from the
        %br/
        experienced attorneys on most common legal issues.
      .ms-layer.sldbut1{"data-delay" => "500", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "right(50)", :style => "left:116px; top:455px"}
        %a{:href => "#"} Learn More
    / end slide
    / slide
    .ms-slide.slide-2{"data-delay" => "7"}
      / slide background
      = image_tag "sliders/bg2.jpg"
      .ms-layer.text1{"data-delay" => "600", "data-duration" => "900", "data-ease" => "easeOutExpo", "data-effect" => "bottom(50)", :style => "left:116px; top:120px"}
        Making
        %br/
        Your
        %br/
        Priorities
        %br/
        Ours
      .ms-layer.sldbut1{"data-delay" => "900", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "right(50)", :style => "left:120px; top:466px"}
        %a{:href => "#"} Learn More
    / end slide
    / slide
    .ms-slide.slide-3{"data-delay" => "7"}
      / slide background
      = image_tag "sliders/bg3.jpg"
      .ms-layer.text1.small{"data-delay" => "600", "data-duration" => "900", "data-ease" => "easeOutExpo", "data-effect" => "bottom(50)", :style => "left:116px; top:113px"}
        Get
        %br/
        confidential
        %br/
        legal advice
      .ms-layer.text2{"data-delay" => "1100", "data-duration" => "1600", "data-ease" => "easeOutExpo", "data-effect" => "left(100)", :style => "left:116px; top:327px"} Get free information & advice confidential on most legal issues.
      .ms-layer.sldbut1{"data-delay" => "1300", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "right(50)", :style => "left:116px; top:445px"}
        %a{:href => "#"} Learn More
    / end slide
    / slide
    .ms-slide.slide-4{"data-delay" => "7"}
      / slide background
      = image_tag "sliders/bg4.jpg"
      .ms-layer.text1.smalldark{"data-delay" => "600", "data-duration" => "900", "data-ease" => "easeOutExpo", "data-effect" => "bottom(50)", :style => "left:116px; top:143px"}
        Experienced
        %br/
        Attorneys
      .ms-layer.text2{"data-delay" => "900", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "left(100)", :style => "left:116px; top:305px"}
        Get immediate free information and advice confidential from the
        %br/
        experienced attorneys on most common legal issues.
      .ms-layer.sldbut1{"data-delay" => "900", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "right(50)", :style => "left:116px; top:455px"}
        %a{:href => "#"} Learn More
    / end slide
    / slide
    .ms-slide.slide-5{"data-delay" => "7"}
      / slide background
      = image_tag "sliders/bg1.jpg"
      .ms-layer.video-box.two.imgframe1{"data-duration" => "3000", "data-ease" => "easeOutExpo", "data-effect" => "bottom(100)", "data-type" => "video", :style => "right:115px;\r\n            top:115px; width:580px; height:360px"}
        %iframe{:allowfullscreen => "", :src => "http://player.vimeo.com/video/49753231"}
      .ms-layer.text1.small{"data-delay" => "300", "data-duration" => "900", "data-ease" => "easeOutExpo", "data-effect" => "bottom(50)", :style => "left:116px; top:120px"}
        Responsive
        %br/
        Multe Use
      .ms-layer.text2{"data-delay" => "900", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "left(100)", :style => "left:116px; top:282px"}
        Many web sites still infancy various versions have
        %br/
        over the years by sometimes on purpose.
      .ms-layer.sldbut1{"data-delay" => "900", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "right(50)", :style => "left:116px; top:432px"}
        %a{:href => "#"} Learn More
    / end slide
  / end of masterslider
/ end slider
.clearfix
.feature_sec1
  .container
    .title11
      %h2
        Welcome to Don App - Providing Legal Help
        %em Experience .Reliability .Ethics
        %span.line
    %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
    %h5
      Get Free Consulation
      %strong.animate{"data-anim-delay" => "300", "data-anim-type" => "fadeIn"} (888) 123-456-7890
      Available 24/7
/ end features section 1
.clearfix
.feature_sec2
  .container
    .one_fourth
      %i.fa.fa-university.animate{"data-anim-delay" => "100", "data-anim-type" => "zoomIn"}
      %h4 Responsive Theme
      %p.marb4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
      %a.button7{:href => "#"} Read More
    / end section
    .one_fourth
      %i.fa.fa-paper-plane.animate{"data-anim-delay" => "200", "data-anim-type" => "zoomIn"}
      %h4 Diffrent Headers
      %p.marb4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
      %a.button7{:href => "#"} Read More
    / end section
    .one_fourth.active
      %i.fa.fa-briefcase.animate{"data-anim-delay" => "300", "data-anim-type" => "zoomIn"}
      %h4 Profession & Modern
      %p.marb4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
      %a.button7{:href => "#"} Read More
    / end section
    .one_fourth.last
      %i.fa.fa-gavel.animate{"data-anim-delay" => "400", "data-anim-type" => "zoomIn"}
      %h4 Well Structured
      %p.marb4 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.
      %a.button7{:href => "#"} Read More
    / end section
/ end features section 2
.clearfix
.feature_sec4
  .container
    .title11
      %h2
        Practice
        %strong Areas
        %span.line2
    %br/
    #grid-container.cbp-l-grid-fullScreen.smallthu
      %ul
        %li.cbp-item
          %a.cbp-caption{:href => "javascript:;"}
            .cbp-caption-defaultWrap
              = image_tag "site-img5.jpg"
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title
                    %i.fa.fa-briefcase
                    %br/
                    %strong Business & Financial
        / end item
        %li.cbp-item
          %a.cbp-caption{:href => "javascript:;"}
            .cbp-caption-defaultWrap
              = image_tag "site-img6.jpg"
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title
                    %i.fa.fa-home
                    %br/
                    %strong Real Estate & Land
        / end item
        %li.cbp-item
          %a.cbp-caption{:href => "javascript:;"}
            .cbp-caption-defaultWrap
              = image_tag "site-img7.jpg"
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title
                    %i.fa.fa-medkit
                    %br/
                    %strong Medical Malpractice
        / end item
        %li.cbp-item
          %a.cbp-caption{:href => "javascript:;"}
            .cbp-caption-defaultWrap
              = image_tag "site-img8.jpg"
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title
                    %i.fa.fa-car
                    %br/
                    %strong Vehicle Accidents
        / end item
        %li.cbp-item
          %a.cbp-caption{:href => "javascript:;"}
            .cbp-caption-defaultWrap
              = image_tag "site-img9.jpg"
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title
                    %i.fa.fa-users
                    %br/
                    %strong Family Law
        / end item
        %li.cbp-item
          %a.cbp-caption{:href => "javascript:;"}
            .cbp-caption-defaultWrap
              = image_tag "site-img10.jpg"
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title
                    %i.fa.fa-edit
                    %br/
                    %strong Premises Liability
        / end item
        %li.cbp-item
          %a.cbp-caption{:href => "javascript:;"}
            .cbp-caption-defaultWrap
              = image_tag "site-img11.jpg"
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title
                    %i.fa.fa-money
                    %br/
                    %strong Business & Tax
        / end item
        %li.cbp-item
          %a.cbp-caption{:href => "javascript:;"}
            .cbp-caption-defaultWrap
              = image_tag "site-img12.jpg"
            .cbp-caption-activeWrap
              .cbp-l-caption-alignLeft
                .cbp-l-caption-body
                  .cbp-l-caption-title
                    %i.fa.fa-university
                    %br/
                    %strong Other Cases
        / end item
    .cbp-l-loadMore-text
      .cbp-l-loadMore-text-link{"data-href" => "ajax/loadMore.html"}
/ end features section 2
.clearfix
.feature_sec9
  .container.transpef
    .title11
      %h2.white
        Need Legal Assistance - Do You Have a Claim?
        %em Feel free to get in touch with any enquiries and one of our friendly members of staff will get back to you as soon as possible.
    .cforms
      %form#sky-form.sky-form{:action => "demo-contacts.php", :method => "post"}
        %fieldset
          .row
            .col.col-4
              %label.label
                %strong Your Name*
              %label.input
                %i.icon-append.icon-user
                %input#name{:name => "name", :type => "text"}/
            .col.col-4
              %label.label
                %strong Your E-mail*
              %label.input
                %i.icon-append.icon-envelope-alt
                %input#email{:name => "email", :type => "email"}/
            .col.col-4
              %label.label
                %strong Phone Number
              %label.input
                %i.icon-append.icon-tag
                %input#subject{:name => "subject", :type => "text"}/
          %br/
          %div
            %label.label
              %strong Message*
            %label.textarea
              %i.icon-append.icon-comment
              %textarea#message{:name => "message", :rows => "5"}
        %footer
          %button.subbutton{:type => "submit"} Submit Your Message
        .message
          %i.icon-ok
          %p Your message was successfully sent!
    .clearfix.margin_top4
/ end features section 9
.clearfix
:javascript
  (function($) {
   "use strict";
    var slider = new MasterSlider();
    // adds Arrows navigation control to the slider.
    slider.control('arrows');
    slider.control('bullets');
  
     slider.setup('masterslider' , {
       width:1400,    // slider standard width
       height:580,   // slider standard height
       space:0,
       speed:45,
       loop:true,
       preload:0,
       autoplay:true,
       view:"basic"
    });
  
  })(jQuery);
:javascript
  (function($) {
   "use strict";
  
    $(function()
    {
      // Validation
      $("#sky-form").validate(
      {         
        // Rules for form validation
        rules:
        {
          name:
          {
            required: true
          },
          email:
          {
            required: true,
            email: true
          },
          message:
          {
            required: true,
            minlength: 10
          }
        },
                  
        // Messages for form validation
        messages:
        {
          name:
          {
            required: 'Please enter your name',
          },
          email:
          {
            required: 'Please enter your email address',
            email: 'Please enter a VALID email address'
          },
          message:
          {
            required: 'Please enter your message'
          }
        },
                  
        // Ajax form submition          
        submitHandler: function(form)
        {
          $(form).ajaxSubmit(
          {
            success: function()
            {
              $("#sky-form").addClass('submited');
            }
          });
        },
        
        // Do not change code below
        errorPlacement: function(error, element)
        {
          error.insertAfter(element.parent());
        }
      });
    });     
  
  })(jQuery);
/ MasterSlider
= javascript_include_tag "masterslider/jquery.easing.min.js"
= javascript_include_tag "masterslider/masterslider.min.js"